.rotated-label {
	position: relative;
	top: 23%;
	transform: rotate(-90deg);
	display:inline-block;
	border-bottom: 2px dashed #f88d35;
}

#add-new-dish {
	height: 2em;
}
#import-dish {
	height: 2em;
	background-color: var(--green-light);
	margin-top: 0.5em;
}

#f-grid {
	display:inline-block;
	width:40%;
}

#f-grid > div {
	display:inline-block;
	width:47%;
	height: 100%;
	margin-top: 0.8em;
}

#f-grid * .input-widget {
	width: 100%;
	padding: 0.3em 0.5em 0.3em 0.5em;
}
#f-grid * button {
	height: 2em;
}

#import-dish-ingredients-table .dropdown-options {
	width: auto;
}