#history-table {
    display:inline-block;
    width:70%
}

#stats-and-options {
    width:26%;
    vertical-align:top;
    border: 1px var(--orange) solid;
    background-color: var(--orange-light);
    float: right;
    text-align: center;
	border-radius: 1rem;
    padding: 0px 1rem;
}

#options-header {
    border-bottom: 2px dashed var(--orange);
    font-size: 26px;
    font-weight: bold;
    margin-top: 0px;
}

.add-to-today-cell {
	transition: background-color 0.5s;
}
.add-to-today-cell:hover {
	background-color: var(--green-dark);
}
tr:nth-child(odd) > td.add-to-today-cell:after {
	content: "+";
	color: white;
	font-weight: bold;	
}
tr:nth-child(even) > td.add-to-today-cell:after {
	content: "+";
	color: var(--green-light);
	font-weight: bold;
}