.setup-container {
	border: 1px solid green;
	display: none;
	width: 95%;
	justify-content: center;
	padding-left: 5%;
}

.setup-div {
	display: inline-block;
	border: 1px solid orange;
	margin: 10px;
	width: 30%;
	text-align:center;
}

.setup-accept-container {
	text-align: center;
	width: 100%;
}