/* COLOUR PALETTE
orange: #f88d35
orange-muted: #fdb05e
orange-light: #f3ddc9
green-dark: #788e12
green-light: #f0f2dc
grey: #a39c8e
*/
/* BODY */

html, body {
	height: 100%;
}

body {
	font-family: Calibri;
}

/* NAVBAR */
.navbar {
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 3rem;
	vertical-align: middle;
	margin: 0px;
	font-size: 0px;
}

.navbar-button {
	border-left: #f88d35 3px solid;
	border-right: #f88d35 3px solid;
	border-bottom: black 0px solid;
	border-top: black 0px solid;
	background: white;
	display: inline-block;
	width: 15%;
	min-width:8rem;
	height: 80%;
	position: relative;
	top: 10%;
	padding: 0px;
	margin: 0px;
	font-size: 20px;
	font-family: "Times New Roman";
	transition: background-color 1s, color 0.5s;
}

.navbar-button.navbar-button-active {
	background-color: #fdb05e;
	color: white;
}

.navbar-button:hover {
	background-color: #fdb05e;
	color: white;
}

/* PAGE HEADER */
#header {
	font-size:46px;
	font-weight: bold;
	border-bottom: 0.2em double orange;
	text-align: center;
	height: 1.3em;
	padding:0.2em;
	margin: 0px;
	width:25%;
	position: relative;
	left:37%
}

/* INPUT WIDGETS */
.input-widget {
	display: inline-block;
	text-align: center;
	position: relative;
}
.input-widget > * {
	width: 100%;
}
label {
	font-weight: bold;
	padding: 1px;
}

input {
	height: 18px;
	text-align: center;
	border: 1px solid #f88d35;
	background-color: #f0f2dc;
}
select {
	height: 22px;
	border: 1px solid #f88d35;
	background-color: #f0f2dc;
}

.widget-container {
	height: 100%;
	display: inline-block;
	border-left: 0.2em #fdb05e solid;
	border-right: 0.2em #fdb05e solid;
	border-radius: 1rem;
	vertical-align: top;
	padding: 0px;
	margin-left: -4px;
	padding: 0px 1rem;
}
.widget-backdrop {
	background-color: #f3ddc9;
	text-align: center;
	border-radius: 1rem;
	height: 100px;
	min-height: 100px;
}

/* TABLES */
.table-container {
	width: 90%;
	margin-left: 5%;
}
table {
	width: 100%;
	border-collapse: collapse;
}
tr:nth-child(even) {
	background-color: #f0f2dc;
}
td, tr, th {
	border: 1px solid #f88d35;
	text-align: center;
	vertical-align: middle;
	padding: 0.5rem;
}
th {
	background-color: #fdb05e;
	color: white;
	font-size: 24px;
	font-weight: bold;
	padding: 0.05em;
}


.delete-field {
	transition: background-color 0.5s;
}
.delete-field:hover {
	background-color: red;
}
tr:nth-child(odd) > td.delete-field:after {
	content: "X";
	color: white;
	font-weight: bold;	
}
tr:nth-child(even) > td.delete-field:after {
	content: "X";
	color: #f0f2dc;
	font-weight: bold;
}
.delete-field-confirm {
	background-color: yellow;
	transition: background-color 0.5s;
}
.delete-field-confirm:after {
	content: "Na pewno?";
	color: black;
	font-weight: bold;
}
.delete-field-confirm:hover {
	background-color: orange;
}

.edit-field {
	transition: background-color 0.5s;
}
.edit-field:hover {
	background-color: blue;
}
tr:nth-child(odd) > td.edit-field:after {
	content: "E";
	color: white;
	font-weight: bold;	
}
tr:nth-child(even) > td.edit-field:after {
	content: "E";
	color: #f0f2dc;
	font-weight: bold;
}

.category-cell-active {
	background-color: orange;
}

/* BUTTONS */
button {
	background-color: #fdb05e;
	border: 2px solid #f88d35;
	border-radius: 0.4em;
	font-weight: bold;
	height: 24px;
}
button:hover {
	border: 2px solid #788e12;
}
button:active {
	border: 2px solid #f0f2dc;
}
/* NOTIFICATIONS */
#notification-container {
	min-height: 1.9em;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	padding-top: 0.5rem;
}

#notification {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	background-color: #788e12;
	color: white;
	border-radius: 0.7rem;
	margin:0px
}

/* DROPDOWN MENU */
.dropdown-options {
	height: max-content;
	max-height: 20em;
	overflow-y: scroll;
	background-color: white;
	display: none;
	position: absolute;
	width:100%;
	z-index: 102;
	border-color: black 1px solid;
}
.dropdown-option {
	position: relative;
	z-index: 100;
	padding: 0.5em;
	margin: 0px;
}
.dropdown-option.selected {
	background-color: #fdb05e;
}