html[theme='nuts'] {
	--orange: #f88d35;
	--orange-muted: #fdb05e;
	--orange-light: #f3ddc9;
	--green-dark: #788e12;
	--green-light: #f0f2dc;
	--grey: #a39c8e;
}
html[theme='greyscale'] {
	--orange: #525252;
	--orange-muted: #424242;
	--orange-light: #dadada;
	--green-dark: #5c5c5c;
	--green-light: #bdbdbd;
	--grey: #a39c8e;
}

/* BODY */
html, body {
	height: 100%;
}

body {
	font-family: Calibri;
}

/* popup menus */
#backdrop {
	background-color: rgba(10,10,10,0.3);
	z-index: 100;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#popup-menu {
	width:50%;
	height:50%;
	position: absolute;
	top: 25%;
	left: 25%;
	background-color: white;
	z-index: 101;
	border-radius: 1em;
}

/* PAGE HEADER */
#header {
	font-size:46px;
	font-weight: bold;
	border-bottom: 0.2em double orange;
	text-align: center;
	height: 1.3em;
	padding:0.2em;
	margin: 0px;
	width:25%;
	position: relative;
	left:37%
}

/* INPUT WIDGETS */
.input-widget {
	display: inline-block;
	text-align: center;
	position: relative;
}
.input-widget > * {
	width: 100%;
}
label {
	font-weight: bold;
	padding: 1px;
}

input {
	height: 18px;
	text-align: center;
	border: 1px solid var(--orange);
	background-color: var(--green-light);
}
select {
	height: 22px;
	border: 1px solid var(--orange);
	background-color: var(--green-light);
}

.widget-container {
	height: 100%;
	display: inline-block;
	border-left: 0.2em var(--orange-muted) solid;
	border-right: 0.2em var(--orange-muted) solid;
	border-radius: 1rem;
	vertical-align: top;
	padding: 0px;
	margin-left: -4px;
	padding: 0px 1rem;
}
.widget-backdrop {
	background-color: var(--orange-light);
	text-align: center;
	border-radius: 1rem;
	height: 100px;
	min-height: 100px;
}

/* TABLES */
.table-container {
	width: 90%;
	margin-left: 5%;
}
table {
	width: 100%;
	border-collapse: collapse;
}
tr:nth-child(even) {
	background-color: var(--green-light);
}
td, tr, th {
	border: 1px solid var(--orange);
	text-align: center;
	vertical-align: middle;
	padding: 0.5rem;
}
th {
	background-color: var(--orange-muted);
	color: white;
	font-size: 24px;
	font-weight: bold;
	padding: 0.05em;
}


.delete-field {
	transition: background-color 0.5s;
}
.delete-field:hover {
	background-color: red;
}
tr:nth-child(odd) > td.delete-field:after {
	content: "X";
	color: white;
	font-weight: bold;	
}
tr:nth-child(even) > td.delete-field:after {
	content: "X";
	color: var(--green-light);
	font-weight: bold;
}
.delete-field-confirm {
	background-color: yellow;
	transition: background-color 0.5s;
}
.delete-field-confirm:after {
	content: "Na pewno?";
	color: black;
	font-weight: bold;
}
.delete-field-confirm:hover {
	background-color: orange;
}

.edit-field {
	transition: background-color 0.5s;
}
.edit-field:hover {
	background-color: blue;
}
tr:nth-child(odd) > td.edit-field:after {
	content: "E";
	color: white;
	font-weight: bold;	
}
tr:nth-child(even) > td.edit-field:after {
	content: "E";
	color: var(--green-light);
	font-weight: bold;
}

.category-cell-active {
	background-color: orange;
}

/* BUTTONS */
button {
	background-color: var(--orange-muted);
	border: 2px solid var(--orange);
	border-radius: 0.4em;
	font-weight: bold;
	height: 24px;
}
button:hover {
	border: 2px solid var(--green-dark);
}
button:active {
	border: 2px solid var(--green-light);
}
/* NOTIFICATIONS */
#notification-container {
	min-height: 1.9em;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	padding-top: 0.5rem;
}

#notification {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	background-color: var(--green-dark);
	color: white;
	border-radius: 0.7rem;
	margin:0px
}

/* DROPDOWN MENU */
.dropdown-options {
	height: max-content;
	max-height: 20em;
	overflow-y: scroll;
	background-color: var(--orange);
	display: none;
	position: absolute;
	width:100%;
	z-index: 102;
}
.dropdown-option {
	background-color: rgb(247, 246, 246);
	margin: 0px 0px 0px 0px;
	position: relative;
	z-index: 100;
	padding: 0.5em;
}
.dropdown-option.selected {
	background-color: var(--orange-muted);
}